
<div [classList]="'div-img-cover'">

  <div [classList]="'div-img'">
    <div [classList]="'div-text'">
      <div [classList]="'text1'">
        DANA BRENYCH
      </div>
      <div [classList]="'text2'">
        ---- WEDDING PHOTOGRAPHER ---
      </div>
    </div>

  </div>

</div>

<div [classList]="'div-about-cover'">
  <div [classList]="'div-image'"></div>
  <div [classList]="'div-about'">
    <div [classList]="'div-about-header'">
      <p>About me</p>
    </div>
    <div [classList]="'div-about-text'">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, maxime, recusandae! Cumque deserunt dolorem earum
        molestias nam officia, quasi reiciendis voluptates! Accusamus aut beatae consectetur consequatur corporis culpa deleniti
        earum et facilis incidunt inventore itaque iusto, molestiae nam, officia, pariatur provident qui sit tempora vitae!
        Dignissimos laborum quaerat rem repudiandae temporibus! Ab assumenda corporis dolore ducimus earum fuga in laboriosam
        modi nemo obcaecati officia optio quaerat, quibusdam, quidem repellendus sapiente tempora veniam. Accusamus aliquid culpa
        doloremque eaque ratione similique temporibus unde. Cumque perferendis tenetur vitae. Amet asperiores, aspernatur corporis
        deleniti est exercitationem harum illo maiores omnis quaerat quos repellat ullam voluptatem. Animi aperiam asperiores
        aspernatur at autem consectetur corporis delectus doloremque ea enim est et ex excepturi fugit harum illum inventore labore
        laudantium, libero minus nam nemo neque nisi nulla quaerat quam.

      </p>
    </div>
    <div [classList]="'div-about-link'">
      <a [routerLink]="'booking'">BOOK SESSION</a>
    </div>
  </div>
</div>


