<div [classList]="'header'">
  <ul [classList]="'header-ul'">
    <li><a [routerLink]="'home'">HOME</a></li>
    <li><a [routerLink]="'about'">ABOUT</a></li>
    <li><a [routerLink]="'portfolio'">PORTFOLIO</a></li>
    <li><a [routerLink]="'booking'">BOOK ONLINE</a></li>
    <li><a [routerLink]="'login'">
      <div [classList]="'a-link'">
        <div>
          <img src="/assets/images/logo4.webp" alt="logo4">
        </div>
        <div><p>Login / Registry</p></div>
      </div>
    </a></li>
  </ul>
</div>

<router-outlet></router-outlet>

<div [classList]="'bottom-cover'">
  <div [classList]="'bottom'">
    <div [classList]="'bottom-links'">
      <div><a href="https://www.facebook.com/dana.brenych.3" target="_blank">
        <div [classList]="'a-link'">
          <div><img src="/assets/images/logo1.svg" alt="logo1"></div>
          <div><p>Facebook</p></div>
        </div>
      </a></div>
      <div><a href="https://www.instagram.com/bren.dana/" target="_blank">
        <div [classList]="'a-link'">
          <div><img src="/assets/images/logo3.svg" alt="logo3"></div>
          <div><p>Instagram</p></div>
        </div>
        </a></div>
    </div>
    <div>
      <div>
        <p>
          Ви можете звязатись
          <br>
          за телефоном:
        </p>
      </div>
      <div>
        <p>
          +380 67 47 23 388
          <br>
          +380 67 43 02 617
        </p>
      </div>
    </div>
    <div>
      <p>Робочі години:
      <br>
        09:00 - 21:00
      </p>
    </div>
    <div>
      <p>
        Де мене можна знайти:
        <br>
        м. Львів, вуд Жасминова 123
      </p>
    </div>
  </div>
</div>
